{% extends 'base.html.twig' %}

{% block body %}
    <h1>State</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ state.name }}</td>
            </tr>
            <tr>
                <th>Cities</th>
                <td>{% if state.cities %}
                    <ul>
                        {% for city in state.cities %}
                            <li>{{ city.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{% if state.country %}{{ state.country.name }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('state_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('state_edit', { 'id': state.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
