{% extends 'base.html.twig' %}

{% block body %}
<center>
    <h1>Album(s) curently added</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Band</th>
                <th>Release</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.name }}</td>
                <td>{% if album.band %}{{ album.band.name }}{% endif %}</td>
                <td>{% if album.released %}{{ album.released|date('Y-m-d') }}{% endif %}</td>
                <td>{{ album.duration }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('album_detail', { 'id': album.id }) }}">More informations</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</center>
{% endblock %}
